.container{
    text-align: center;
    padding: 5rem 0;
    h2{
        text-transform: uppercase;
        color: #484e48;
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 5rem;
    }
    .articles{
        display: flex;
        justify-content: center;
        gap: 3rem;
    }
}