.article{
    width: 25%;
    img{
        width: 100%;
        height: 30vh;
    }
    .container{
        background-color: #fff;
        p{
            color: #484e48;
            font-size: 1.6rem;
            padding: 3rem;
            font-weight: 600;
        }
    }
}