.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0;
    color: #484e48;
    h4{
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 600;
    }
    p{
        font-size: 1.3rem;
        font-weight: 500;
    }
    a{
        font-size: 1.5rem;
        padding: .5rem 3rem;
    }
}