.header{
    background-image: url(/header.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}